@CHARSET "UTF-8";
/*페이지 전체를 장식하는 div의 css 장식*/

/* 깨짐을 방지하기 위해 여백을 0으로 맞춰놓는다. */
*{
padding : 0;
margin: 0;	
}

/*기본적인 div 정보*/
#base_warp{
/*	화면의 크기는 안정적으로 4:3비율인 1280x960로 잡는다. */
	width:1280px;
	height:960px;
/* 현재 div 영역을 확인하기 위한 색깔 정보. 추후 삭제 혹은 색깔 수정. */
	background-color: #aaa;
/* div 영역 확인용 선. 추후 장식용으로 제대로 꾸미거나 삭제. */
	border:1px solid #000;
}